## Example of .env file
## This file is used to set the environment variables
## You must change the values of the variables to your own
LIST_URL=<list_url>
GITHUB_USER=<github_user>
GITHUB_REPO=<github_repo>
GITHUB_FILE=<github_file>
GITHUB_TOKEN=<github_token>
